{% extends 'layout.html' %}

{% block contenido %}
<style>
  /* Estilos generales */
  body {
    background-color: #E4E3E2; /* Fondo gris claro */
    font-family: 'Arial', sans-serif;
    color: #212C31; /* Texto oscuro */
    margin: 0;
    padding: 0;
  }

  /* Contenedor del formulario */
  .form-container {
    max-width: 600px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 50px auto; /* Centrado */
  }

  /* Estilos para etiquetas */
  label {
    font-weight: bold;
    color: #212C31; /* Texto en azul oscuro */
  }

  /* Campos del formulario */
  .form-control {
    border: 2px solid #F7C50B; /* Borde amarillo */
    border-radius: 5px;
    padding: 10px;
  }

  .form-control:focus {
    border-color: #212C31;
    outline: none;
    box-shadow: 0 0 5px rgba(33, 44, 49, 0.5);
  }

  /* Estilos del botón */
  .btn-primary {
    background-color: #F7C50B; /* Amarillo */
    border: none;
    color: #212C31; /* Texto oscuro */
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    transition: background 0.3s;
  }

  .btn-primary:hover {
    background-color: #E4A800;
  }

  /* Responsive */
  @media (max-width: 768px) {
    .form-container {
      width: 90%;
    }
  }

  @media (max-width: 480px) {
    .btn-primary {
      font-size: 14px;
      padding: 8px;
    }
  }
</style>

<form action="crear_factura" method="post">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="numero_factura">Número de Factura</label>
      <input type="text" class="form-control" id="numero_factura" name="numero_factura" placeholder="00001">
    </div>
    <div class="form-group col-md-6">
      <label for="fecha_factura">Fecha</label>
      <input type="text" class="form-control" id="fecha_factura" name="fecha_factura" placeholder="00/00/0000">
    </div>

  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="cedula_cliente">Cedula Cliente</label>
      <input type="text" class="form-control" id="cedula_cliente" name="cedula_cliente" placeholder="123456789">
    </div>
    
    <div class="form-group col-md-4">
      <label for="nombre_completo">Nombre Completo</label>
      <input type="text" class="form-control" id="nombre_completo" name="nombre_completo" readonly>
    </div>
    <div class="form-group col-md-4">
      <label for="direccion">Dirección</label>
      <input type="text" class="form-control" id="direccion" name="direccion" readonly>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="telefono">Teléfono</label>
      <input type="text" class="form-control" id="telefono" name="telefono" readonly>
    </div>
    <div class="form-group col-md-4">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email" readonly>
    </div>
    


    <input type="hidden"  id="id_cliente" name="id_cliente">
   



  </div>     
  <div class="form-row">   
    <div class="form-group col-md-4">
      <label for="id_usuario">Vendedor</label>
      <select id="id_usuario" name="id_usuario" class="form-control">
        <option selected value="">Seleccione...</option>
        {% for usuario in usuarios %}
          <option value="{{usuario.id}}">{{usuario.nombre_completo}}</option>
        {% endfor %}
      </select>
    </div>
  </div>  
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>
<script>
  $("#cedula_cliente").change(function() {      
      value = $(this).val();
      $.ajax({
        type: "GET",
        url: "/consultar_cliente_numero_identificacion/" + value, 
        contentType: "application/json",
        dataType: 'json',
        success: function(result) {
          console.log("Result:");
          console.log(result);
          $('#nombre_completo').val(result.nombre_completo);
          $('#direccion').val(result.direccion);
          $('#telefono').val(result.telefono);
          $('#id_cliente').val(result.id);
          console.log(result)
          $('#email').val(result.email);
        } 
      });
    });
</script>
{% endblock contenido %}
      