{% extends 'layout.html' %}

{% block contenido %}
<form action="crear_factura" method="post">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="numero_factura">Número de Factura</label>
      <input type="text" class="form-control" id="numero_factura" name="numero_factura" placeholder="00001">
    </div>
    <div class="form-group col-md-6">
      <label for="fecha_factura">Fecha</label>
      <input type="text" class="form-control" id="fecha_factura" name="fecha_factura" placeholder="00/00/0000">
    </div>

  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="cedula_cliente">Cedula Cliente</label>
      <input type="text" class="form-control" id="cedula_cliente" name="cedula_cliente" placeholder="123456789">
    </div>
    
    <div class="form-group col-md-4">
      <label for="nombre_completo">Nombre Completo</label>
      <input type="text" class="form-control" id="nombre_completo" name="nombre_completo" readonly>
    </div>
    <div class="form-group col-md-4">
      <label for="direccion">Dirección</label>
      <input type="text" class="form-control" id="direccion" name="direccion" readonly>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="telefono">Teléfono</label>
      <input type="text" class="form-control" id="telefono" name="telefono" readonly>
    </div>
    <div class="form-group col-md-4">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email" readonly>
    </div>
    


    <input type="hidden"  id="id_cliente" name="id_cliente">
   



  </div>     
  <div class="form-row">   
    <div class="form-group col-md-4">
      <label for="id_usuario">Vendedor</label>
      <select id="id_usuario" name="id_usuario" class="form-control">
        <option selected value="">Seleccione...</option>
        {% for usuario in usuarios %}
          <option value="{{usuario.id}}">{{usuario.nombre_completo}}</option>
        {% endfor %}
      </select>
    </div>
  </div>  
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>
<script>
  $("#cedula_cliente").change(function() {      
      value = $(this).val();
      $.ajax({
        type: "GET",
        url: "/consultar_cliente_numero_identificacion/" + value, 
        contentType: "application/json",
        dataType: 'json',
        success: function(result) {
          console.log("Result:");
          console.log(result);
          $('#nombre_completo').val(result.nombre_completo);
          $('#direccion').val(result.direccion);
          $('#telefono').val(result.telefono);
          $('#id_cliente').val(result.id);
          console.log(result)
          $('#email').val(result.email);
        } 
      });
    });
</script>
{% endblock contenido %}
      