{% extends 'layout.html' %}

{% block contenido %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Número de Identificación</th>
      <th scope="col">Nombre Completo</th>      
      <th scope="col">Dirección</th>   
      <th scope="col">Teléfono</th>      
      <th scope="col">Correo Electrónico</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
      {% for cliente in clientes %}
        <tr>
          <th scope="row">{{ cliente.id }}</th>
          <td>{{ cliente.numero_identificacion }}</td>
          <td>{{ cliente.nombre_completo }}</td>
          <td>{{ cliente.direccion }}</td>
          <td>{{ cliente.telefono }}</td>
          <td>{{ cliente.email }}</td>
          <td> 
            <a class="btn btn-danger" href="/eliminar_cliente/{{ cliente.id }}">Eliminar</a>
            <a class="btn btn-success" href="/actualizar_cliente/{{ cliente.id }}">Editar</a>
          </td>
        </tr>
      {% endfor %}    
  </tbody>
</table>
{% endblock contenido %}


